// Specific CSS for your home-page
a{
  text-decoration: none;
  color:#333;
}
a:hover{
  color: #061a40;
}

.green-shadow-l{
  box-shadow: 2px 2px 5px #218380;
  background-color: white;
}

.container{
  margin-bottom: 70px;
}

.align-center{
  text-align: center;
}
.align-items-center{
  align-items: center;
  text-align: center;
}
