 <div class="container d-flex justify-content-center" style="margin-top: 80px">
  <%= link_to "add new prescription", new_prescription_path %>
</div>
<div class="container">
  <div class="row mt-5">
    <% @prescriptions.each do |prescription| %>
      <div class="col-md-4">
        <div class="card card-prescription-style d-flex align-items-center mb-2">
          <strong><%= prescription.title%></strong>
          <%= link_to "see details", prescription_path(prescription) %>
          <%= link_to "Delete",
            prescription_path(prescription),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "d-flex flex-column align-items-center"
            %>
        </div>
      </div>
    <% end %>
  </div>
</div>
