<div class="card">
  <div class="card-title">Prescription name: <%= @prescription.title %></div>
  <%= link_to "edit", edit_prescription_path(@prescription) %>
  <%= link_to "Delete",
    prescription_path(@prescription),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn-yellow-lg"
  %>
</div>
