 <%= provide :title, "GPS da Bari" %>
 <div class="d-flex justify-content-end fixed-bottom mt-4 bg-image">
    <%= image_tag("walker.png", width: 200, height: 200)%>
  </div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
</div>
