.btn-green{
  text-decoration: none;
  background-color: #425F48;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 5px;
  border: 0px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
  background-color: #265c57;
  color: #ffffff;
  }
}



.btn-dark-purple{
  font-size: 18px;
  line-height: 1.7;
  color: #fff;
  background-color: #633f99;
  border: 1px solid #633f99;
  width: 100%;
  padding: 5px 10px;
  border-radius: 4px;

  &:hover{
  background-color: whitesmoke;
  color: #633f99;
  border-color: #633f99;
  }
}

.rounded-l{
  border-radius: 25px;
}
