.calendar{
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.calendar-title {
  font-weight: bold;
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  a {
    color: rgb(62, 39, 100);
  }
}

.blue{
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 25px;
  text-align: center;
}

.green {
  background-color: rgb(28, 75, 18);
  color: white;
  border-radius: 50%;
  width: 25px;
  text-align: center;
}
.purple {
  background-color: rgb(62, 39, 100);
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}
.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    font-size: small;
  }
  .next-month {
    font-size: small;
  }
  .current-month {}

}
