.calendar{
  width: 300px;
  text-align: center;
  align-items: center;
}

.blue{
  background-color: blue;
  color: white;
  border-radius: 50%;
  width: 25px;
  text-align: center;
}

.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    font-size: small;
  }
  .next-month {
    font-size: small;
  }
  .current-month {}

}
