.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bari {
  border-radius: 0px 0px 23px 23px;
  height: 70px;
  margin-left: 35px;
  margin-right: 35px;
  background-color: #98C9A3;
  justify-content: space-around;
}

.icon-white {
  color: white;
}

.font-white {
  color: white;
}

.dropdown-color {
  background-color: #98C9A3;
  border-radius: 5px;
}
