.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bari {
  height: 86px;
  margin-left: 42px;
  margin-right: 42px;
  top: -18px;

  background: #98C9A3;
  border-radius: 23px;
}

.icon-white {
  color: #ffffff;
}

.title-white {
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.align-itens {
  margin-top: 15px;
}

.dropdown-color {
  background-color: #98C9A3;
  border-radius: 5px;
}
