#page-container {
  position: relative;
  min-height: 50vh;
}


.btn-home {
  padding: 15px;
  background-color: #218380;
  margin-bottom: 10px;
}

.container-walker-image {
  width: 100%;
  position: relative;
}

.image-walker {
  position: absolute;
  right: -20px;
  bottom: -210px;
}
