.prescription-style {
  margin-top: 80px;
}

.prescription-link {
  color: #3d5048;
  text-decoration: none;
}

.card-prescription-style {
  background-color: #ffffff;
  color: #6B9080;
  padding: 10px;
  border-radius: 15px;
  border-color: none;
}

.prescription-list {
  padding: 0;
}

.prescription-icon {
  text-decoration: none;
  color: #6B9080;
}

.form-prescription-style {
  color: #3d5048;
}

.prescription-name {
  color: #6B9080;
}

.edit-prescription {
  padding-right: 25px;
}
