.color-purple{
  color: #563A7F;
}

.btn-purp{
  text-decoration: none;
  background-color: #633f99;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: smaller;
  margin: 7px;
  border-radius: 5px;
  border: 0px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;

  &:hover{
  background-color: #563A7F;
  color: #ffffff;
  }
}

.btn-purple-narrow {
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 60%;
  color: #fff;
  background-color: #633f99;
  border: 1px solid #633f99;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;

  &:hover{
    background-color: whitesmoke;
    color: #633f99;
    border-color: #633f99;
    }
}
