.card-recipe {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 2px 2px 15px #98C9A3;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.card-recipe img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-recipe h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-recipe p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-recipe .card-recipe-infos {
  padding: 16px;
}

.recipes-search{
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 15px #98C9A3;
}

.recipes-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@media(max-width: 1200px) {
  .recipes-grid {
    grid-template-columns: 1fr 1fr;
  }
  .card-recipe {
    margin-bottom: 10px;
  }
  h2{
    font-size: 14px !important;
  }
}

@media(max-width: 768px) {
  .recipes-grid {
    grid-template-columns: 1fr;
  }
  .card-recipe {
    margin-bottom: 2px;
  }
  h2{
    font-size: 14px !important;
  }
}

.btn-recipe-dark-green{
  background-color: #425F48;
  opacity:0.8;
  color: white;
  width: 80px;
  text-align: center;
}

.btn-recipe-light-green{
  background-color: #A4C3B2;
  opacity:0.8;
  width: 80px;
  text-align: center;
}

.btn-light-grey-sm{
  background-color:rgb(217, 208, 208);
  color: black;
  text-decoration: none;
  padding: 4px 8px;
  font-size: 12px;
  margin-top: 20px;
}
