.tag-item {
  display: block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: grid;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: whitesmoke;
  color: #40574D;
  border: 2px solid #40574D;
  border-radius: 10px;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #98C9A3;
  color: white;
}

.tag-card {
  background-color: #98C9A3;
  color: white;
  cursor: pointer;
  display: grid;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 2px solid #40574D;
  border-radius: 10px;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  text-decoration: none;
  width: 100%;
  text-align: left;
}
