.vitamins-style {
  margin-right: 0%;
  margin-left: 0%;
  position: relative;
  text-align: center;
}

.vitamins-title {
  color: #3d5048;
}

.vitamins-check {
  margin: 0;
}

.vitamins-taken {
  background-color: #effff8;
}

.vitamins-icon {
  color: #3d5048;
}

.vitamis-date {
  position: relative;
  text-align: center;
}
