.vitamins-style {
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}

.vitamins-check {
  margin: 0;
}

.vitamins-taken {
  background-color: #effff8;
}

.vitamins-icon {
  color: #3d5048;
}

.vitamis-date {
  position: relative;
  text-align: center;
}

.vitamins-record {
  border-radius: 15px;
  border: 0px;
}

.vitamin-color-icon {
  flex-grow: 0;
  width: 40px;
  border-radius: 50%;
}
