  <%= provide :title, "Goals" %>
<div class="container">
  <div class="text-center font-style mb-3">
    <h2>Choose your goal</h2>
    <span>You can select more than one!</span>
  </div>
  <div class="row g-3 d-flex justify-content-center">
    <div class="col-md-6">
      <%= simple_form_for @goal do |f| %>
        <%= f.input :description, label: "", class: "align-center",
            as: :check_boxes,
            item_wrapper_class: "tag-item",
            input_html: {class: "tag-selector"},
            collection: Goal::DEFAULT_GOALS %>
    <%= f.button :submit, "Save", class: "btn btn-dark-gree n mb-4" %>
      </div>
    </div>
  <% end %>
</div>
